<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fernanda Fajardo C01</title>

    <link href="~/css/style.css" rel="stylesheet" />

    <link href="~/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/css/themify-icons.css" rel="stylesheet" />
    <link href="~/css/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/image/favicon.png" />


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

</head>
<body>
    @RenderBody()
    <div class="container-scroller">

        <div class="container-fluid page-body-wrapper">

            <div class="main-panel-body">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-danger text-white me-2">
                                <i class="mdi mdi-star-face"></i>
                            </span> Bienvenidos al Sistema
                        </h3>
                    </div>
                    <div class="row row-altura">
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-primary card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/image/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        Registro <i class="mdi mdi-account mdi-24px float-end"></i>
                                    </h4>
                                    <p class="mb-5">Agrega nuevos usuarios al sistema.</p>
                                    <a asp-action="Registro" asp-controller="Home"
                                       class="btn btn-gradient-danger btn-rounded btn-fw">
                                        Ir al Registro
                                        <i class="mdi mdi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-info card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/image/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        Registro <i class="mdi mdi-account mdi-24px float-end"></i>
                                    </h4>
                                    <p class="mb-5">Agrega nuevos usuarios al sistema.</p>
                                    <a asp-action="Registro" asp-controller="Home"
                                       class="btn btn-gradient-danger btn-rounded btn-fw">
                                        Ir al Registro
                                        <i class="mdi mdi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-success card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/image/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        Consulta <i class="mdi mdi-list-box mdi-24px float-end"></i>
                                    </h4>
                                    <p class="mb-5">Visualiza todos los registrados con su información completa.</p>
                                    <a asp-action="Consultar" asp-controller="Home"
                                       class="btn btn-gradient-danger btn-rounded btn-fw">
                                        Ver Consulta
                                        <i class="mdi mdi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright ©2026 Progamación Avanzada Web | Todos los derechos reservados.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Fernanda Fajardo Torres <i class="mdi mdi-heart text-danger"></i></span>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/js/vendor.bundle.base.js"></script>
    <script src="~/js/chart.umd.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/misc.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
</body>
</html>